.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg1.jpeg') no-repeat 50%/cover;
    width: 100%;
    padding-top: 105px;
    &__title{
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        @include before-circle;
        padding-left: 10px;
        z-index: 2;
    }

    &__btns{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
    &__link{
        color: #000;
        font-weight: bold;
        &:hover{
            color:#453453;
            text-decoration: none;
        }
    }
}



